<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.emergency.web.mapper.outbox.OutboxMapper">
	<insert id="insertOutbox" parameterType="com.emergency.web.model.Outbox">
	INSERT INTO tb_outbox (
		batch_id,
        aggregate_type,
        aggregate_id,
        event_type,
        payload,
        status
    ) VALUES (
    	#{batchId},
        #{aggregateType},
        #{aggregateId},
        #{eventType},
        #{payload},
        #{status}
    )
	</insert>
	
	<update id="updateOutboxStatus" parameterType="com.emergency.web.model.Outbox">
	UPDATE tb_outbox
	   SET status = #{status}
	 WHERE batch_id = #{batchId}
	   AND aggregate_id = #{aggregateId}
	</update>
</mapper>