<mapper namespace="com.emergency.web.mapper.UserMapper">
	
	<select id="findById" resultType="com.emergency.web.model.User">
		SELECT  id
		      , password
		      , email
		      , hp
		      , address
		      , regAt
		      , modAt
		      , lastLogin
		      , roles
		   FROM tbUser
		  WHERE id = #{id}
	</select>
	
	<insert id="saveUser" parameterType="com.emergency.web.model.User" resultType="com.emergency.web.model.User">
		INSERT INTO tbUser
		(
			id,
			password,
			email,
			hp,
			address,
			regAt,
			modAt,
			roles
		)
		VALUES
		(
			#{id},
			#{password},
			#{email},
			#{hp},
			#{address},
			#{regAt},
			#{modAt},
			#{roles}
		)
	</insert>
	
</mapper>